.app {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Encode Sans SC', sans-serif;
  background-image: url("https://wallpapershome.com/images/wallpapers/mafia-definitive-edition-3840x2160-mafia-trilogy-screenshot-4k-22536.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  width: 100vw;
  height: 100vh;
  //display: flex;
  //justify-content: center;
}


